
body {
    background-image: url(web_background2.webp);
    background-size: cover;
    color: rgba(244, 5, 252, 0.808);
}

h1 {
    color: rgb(115, 63, 182);
    text-align: center;
    /*border : 5px solid rgb(217, 255, 1);*/
    cursor: pointer;
}

img {
    float: left;
}

footer {
    /*clear: both;*/
    text-align: center;
}

p {
    line-height: 50px;
    font-size: 130%;
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
    color: rgb(246, 122, 143);
}

li {
    list-style: none;
    display: inline-block;
}

.text1 {
    background-color: rgba(225, 250, 0, 0.2);
}

.special {
    background-color: rgba(0, 230, 10, 0.2);
    border: 3px dashed darkslategray;
}

#div2 {
    text-align: center;
    background-color: rgba(22, 10, 230, 0.2);
}